<ion-modal-view>
  <ion-header-bar class="bar-calm">

    <h1 class="title">Nueva Dirección</h1>

    <div class="buttons">
      <button class="button button-clear" ng-click="modal.hide()">X</button>
    </div>

  </ion-header-bar>

  <ion-content class="padding">

    <form name="locationForm" ng-submit="saveLocation()">
      <div class="list">
 
        <label class = "item item-input item-select">
                <div class = "input-label">
                    Genero
                </div>
                <select ng-model="newLocation.genero" >
                <option style="display:none" value="">Seleccione</option>
                    <option  value="Sr"  ng-selected="selected">Sr</option>
                    <option  value="Sra">Sra</option>
                    <option  value="Flia">Flia</option>
               </select>  
            </label>

       
            <label class="item item-input">
                <div class = "input-label">
                    Nombre
                </div>
                <input type="text" ng-model="newLocation.nombre" placeholder="Nombre" ng-minlength="1" ng-maxlength="100" required>
            </label>    
             
              <label class = "item item-input item-select">
                    <div class = "input-label">
                          Condicion
                    </div>
                    <select ng-model="newLocation.condicion" >
                          <option style="display:none" value="">Seleccione</option>
                          <option  value="Nativo">Nativo</option>
                          <option  value="Descendiente">Descendiente</option>
                          <option  value="Otro">Otro</option>
                     </select>
                </label>

          <label class="item item-input">
                <div class = "input-label">
                    Direccion
                </div><!--
                    <input type="text" ng-model="newLocation.direccion" placeholder="direccion" ng-minlength="1" ng-maxlength="100" required>-->
                <textarea rows="4" cols="50" ng-model="newLocation.direccion" placeholder="direccion">
                </textarea>
        </label>
        <label class = "item item-input">
                      <div class = "input-label">
                            Edificacion
                      </div>
            <!--   <select ng-model="newLocation.edificacion" >
                      <option style="display:none" value="">Seleccione</option>
                      <option  value="Casa">Casa</option>
                      <option  value="Edificio">Edificio</option>
                      <option  value="Local">Local</option>
                      <option  value="Otro">Otro</option>
                   </select>-->
                  <input type="text" ng-model="newLocation.edificacion" placeholder="edificacion" ng-minlength="1" ng-maxlength="100" >  
               </label>
        

         <label class = "item item-input">
           <div class = "input-label">
              Zona
           </div>
          <!--
           <select ng-model="newLocation.zona" ng-options="zona.nombre as zona.nombre for zona in zonas">
                <option style="display:none" value="">Seleccione</option>
           </select>-->
           <input type="text" ng-model="newLocation.zona" placeholder="zona" ng-minlength="1" ng-maxlength="100">

        </label>
        <label class="item item-input">
                <div class = "input-label">
                    Publicador
                </div>
                <input type="text" ng-model="newLocation.publicador" placeholder="Publicador" ng-minlength="1" ng-maxlength="100">
        </label>    
        <label class="item item-input">
                <div class = "input-label">
                    Telefono
                </div>
                <input type="text" ng-model="newLocation.numero" placeholder="Numero" ng-minlength="1" ng-maxlength="100" >
        </label>    
        
        
        
        <label class="item item-input">
               <div class = "input-label">
                    Comentarios
                </div>
                   <!-- <input type="text" ng-model="newLocation.comentarios" placeholder="comentarios" ng-minlength="1" ng-maxlength="100" required>-->
                  <textarea rows="4" cols="50" ng-model="newLocation.comentarios" placeholder="comentarios">
                 </textarea>
        </label>
                 
       
       
        

        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
            LAT : {{newLocation.lat | truncate:15}}
          </a>
          <a class="tab-item" href="#">
            LNG : {{newLocation.lng | truncate:15}}
          </a>
        </div>

      </div>

      <div class="padding">

        <button class="button button-block button-balanced" ng-disabled="locationForm.$invalid">Guardar</button>

      </div>

    </form>

  </ion-content>

</ion-modal-view>