
<ion-view title="Direcciones">

  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  

  <ion-nav-buttons side="right">
     <button  class="button button-icon icon ion-android-pin" ng-model="collapsed" ng-click="toggle()"></button>
    <button ng-click="locate();" class="button button-icon icon ion-pinpoint"></button>
  </ion-nav-buttons>

  

  <ion-header-bar class="bar-light bar-subheader">
      <input type="search" placeholder="Buscar direccion..." ng-model="search" ng-keyup="count = count + 1" ng-init="count=0">
    </ion-header-bar>

  

  <ion-content data-tap-disabled="true">
 	<ion-list style="position:absolute;" >

        <ion-item nav-clear menu-close ng-click="goTo(locationKey)" ng-repeat="(locationKey,location) in locations | filter:search"  ng-show="count > 2" class="ng-hide" ng-hide="!search.length">
          {{location.nombre}}
        </ion-item>

      </ion-list>
      <div id="containerMap"  style="height: 100%; width:100%"> 
        <div id="map" data-tap-disabled="true" style="height: 100%; width:100%"></div>
      
       <ion-toggle ng-model="toggleMostrarDirecciones.checked"
                    ng-change="toggleMostrarDirecciones()"
                    style="position: fixed; top: 5px; right: 0px;">
          Direcciones
        </ion-toggle>
        <button class="button button-block button-balanced" ng-show="state"  style="bottom: 5px; position: fixed;" ng-click="marcarAqui()">
           Marcar Aqui
        </button>
        <img src="images/marker.png" ng-show="state" style="position: fixed; height: 41px;
    top: -41px;
    bottom: 0;  
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
       ">

        </div>
       </ion-content>

</ion-view>
