<ion-modal-view>
  <ion-header-bar class="bar-calm">

    <h1 class="title">Asignar Direcciones</h1>

    <div class="buttons">
      <button class="button button-clear" ng-click="buttonOcultarModal()">X</button>
    </div>
     
  </ion-header-bar>
 <ion-header-bar class="bar-light bar-subheader">
      <input type="text" placeholder="Buscar direccion..." ng-model="search">
    </ion-header-bar>

  <ion-content class="padding">
  <ion-scroll  direction="y" style=" height: 100%">
    <form name="locationForm" ng-submit="saveLocation()">
      <ion-list>

        <ion-item nav-clear class="item item-icon-right" menu-close ng-repeat="direcciones in direcciones | filter : search track by $index" >
        <ion-checkbox ng-model="direcciones.checked" ng-change="checkboxChangeTerritorio('{{direcciones._id}}', '{{$index}}')"> 

        {{direcciones.id}}- {{direcciones.nombre}}    
         <p>{{direcciones.nombreTerritorio}}</p>
        </ion-checkbox>

         <i ng-click="buttonVerDireccion('{{direcciones._id}}');" class="icon ion-eye"></i>

        </ion-item>

      </ion-list>

    </form>
</ion-scroll>
  </ion-content>


</ion-modal-view>