<ion-modal-view>
  <ion-header-bar class="bar-calm">

    <h1 class="title">Modificar Dirección</h1>

    <div class="buttons">
      <button class="button button-clear" ng-click="modalModifier.hide()">X</button>
    </div>

  </ion-header-bar>

  <ion-content class="padding">

    <form name="locationForm" ng-submit="modifierLocation()">

      <div class="list">
       <label class="item item-input">
                    <input type="number" ng-model="modifierLocation.id" placeholder="ID" ng-minlength="1" ng-maxlength="100" required>
        </label>
        <div class="row">
            <div class="col">
            <label class = "item item-input item-select">
                <div class = "input-label">
                    Nombre
                </div>
                <select ng-model="modifierLocation.genero" >
                <option style="display:none" value=""></option>
                    <option  value="Sr"  ng-selected="selected">Sr</option>
                    <option  value="Sra">Sra</option>
                    <option  value="Flia">Flia</option>
               </select>  
            </label>
            </div>
            <div class="col ">
                <label class="item item-input">
                <input type="text" ng-model="modifierLocation.nombre" placeholder="Nombre" ng-minlength="1" ng-maxlength="100" required>
                  </label>    
            </div>
            
        </div>    
              <label class = "item item-input item-select">
                    <div class = "input-label">
                          Condicion
                    </div>
                    <select ng-model="modifierLocation.condicion" >
                          <option style="display:none" value="">Seleccione condicion</option>
                          <option  value="Nativo">Nativo</option>
                          <option  value="Decendiente">Decendiente</option>
                     </select>
                </label>

          <label class="item item-input">
                    <input type="text" ng-model="modifierLocation.direccion" placeholder="direccion" ng-minlength="1" ng-maxlength="100" required>
        </label>
        <label class = "item item-input item-select">
                      <div class = "input-label">
                            Edificacion
                      </div>
                     <select ng-model="modifierLocation.edificacion" >
                      <option style="display:none" value="">Seleccione edificacion</option>
                      <option  value="Casa">Casa</option>
                      <option  value="Edificio">Edificio</option>
                      <option  value="Local">Local</option>
                      <option  value="Otro">Otro</option>
                 </select>  
               </label>

         <label class = "item item-input item-select">
           <div class = "input-label">
              Zona
           </div>
          
           <select ng-model="modifierLocation.zona" ng-options="zona._id as zona.nombre for zona in zonas">
                <option style="display:none" value="">Seleccione un zona</option>
           </select>
        </label>
        
        
        <label class="item item-input">
                    <input type="text" ng-model="modifierLocation.comentarios" placeholder="comentarios" ng-minlength="1" ng-maxlength="100" required>
        </label>
                 
       
       
        

        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
            LAT : {{modifierLocation.lat | truncate:15}}
          </a>
          <a class="tab-item" href="#">
            LNG : {{modifierLocation.lng | truncate:15}}
          </a>
        </div>

      </div>

      <div class="padding">

        <button class="button button-block button-balanced" ng-disabled="locationForm.$invalid">Guardar</button>

      </div>

    </form>

  </ion-content>


</ion-modal-view>