<ion-view view-title="Territorios" cache-view="false">
  <ion-nav-buttons side="right">
    <a href="#/app/territoriosMapa" ng-hide="auth.territorio.asignar==false" class="button button-icon icon ion-map"></a>
  </ion-nav-buttons>

  <ion-content>
<ion-list>

        <ion-item nav-clear menu-close ng-repeat="territorio in territorios track by territorio._id" href="#/app/territorios/{{territorio._id}}">
          {{territorio.nombre}}
        </ion-item>
</ion-list>
<a class="button button-block button-large icon-right ion-plus-round button-positive" href="#/app/nuevoTerritorio" style="position: fixed; bottom: 10px;" ng-hide="auth.territorio.crear==false"> Nuevo Territorio</a>
  </ion-content>
</ion-view>