<ion-view view-title="Direcciones" cache-view="false">
  <ion-content>
    <form >
        <div class="list">
          <div class="details" style="margin:8px; text-align: center;">
            <h3>{{direccion.nombre}}</h3>
            <br/>
            <hr>
            <div class="card">
              <div class="list">
                <label class="item item-input">
                      <div class = "input-label">
                        ID
                      </div>
                      <input type="number" ng-model="direccion.id" placeholder="ID" ng-minlength="1" ng-maxlength="100" required>
                </label>
                <label class = "item item-input item-select">
                      <div class = "input-label">
                          Genero
                      </div>
                      <select ng-model="direccion.genero" >
                      <option style="display:none" value=""></option>
                          <option  value="Sr"  ng-selected="selected">Sr</option>
                          <option  value="Sra">Sra</option>
                          <option  value="Flia">Flia</option>
                     </select>  
                </label>
                <label class="item item-input">
                  <div class = "input-label">
                      Nombre
                  </div>
                  <input type="text" ng-model="direccion.nombre" placeholder="Nombre" ng-minlength="1" ng-maxlength="100" required>
                </label>    
               
                <label class = "item item-input item-select">
                    <div class = "input-label">
                          Condicion
                    </div>
                    <select ng-model="direccion.condicion" >
                          <option style="display:none" value="">Seleccione</option>
                          <option  value="Nativo">Nativo</option>
                          <option  value="Decendiente">Decendiente</option>
                     </select>
                </label>

                <label class="item item-input">
                            <input type="text" ng-model="direccion.direccion" placeholder="direccion" ng-minlength="1" ng-maxlength="100" required>
                </label>
                <label class = "item item-input item-select">
                        <div class = "input-label">
                              Edificacion
                        </div>
                       <select ng-model="direccion.edificacion" >
                        <option style="display:none" value="">Seleccione</option>
                        <option  value="Casa">Casa</option>
                        <option  value="Edificio">Edificio</option>
                        <option  value="Local">Local</option>
                        <option  value="Otro">Otro</option>
                   </select>  
                 </label>
                 <label class = "item item-input item-select">
                   <div class = "input-label">
                      Zona
                   </div>                  
                   <select ng-model="direccion.zona" ng-options="zona._id as zona.nombre for zona in zonas">
                        <option style="display:none" value="">Seleccione</option>
                   </select>
                </label>
                <label class="item item-input">
                            <input type="text" ng-model="direccion.comentarios" placeholder="comentarios" ng-minlength="1" ng-maxlength="100" required>
                </label>
                <div class="item tabs tabs-secondary tabs-icon-left">
                  <a class="tab-item" href="#">
                    LAT : {{direccion.lat | truncate:15}}
                  </a>
                  <a class="tab-item" href="#">
                    LNG : {{direccion.lng | truncate:15}}
                  </a>
                </div>
                <div class="item item-divider">
                 <a class="button button-block button-positive" ng-click="modificarDireccion()" ng-hide="auth.direcciones.modificar==false"> Guardar Cambios</a>
               </form>    
                <a class="button button-block button-assertive" ng-click="eliminarDireccion()" ng-hide="auth.direcciones.eliminar==false"> Eliminar</a>
              
               
                </div> 
              
          </div>
        </div>
        </div>
     
  </ion-content>
</ion-view>